<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN PAGE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-dark">
    {% with messages = get_flashed_messages(category_filter=['login_required']) %}
    {% if messages %}
        {% for message in messages %}
            <p class="text-center text-bg-danger"><strong> {{message}} </strong></p>
        {% endfor %}
    {% endif %}
{% endwith %}
    <div class="w-100 d-flex justify-content-start bg-primary-subtle pt-5">
        <h2 class="w-50 justify-content-start ps-5">New User Registration</h2>
        <h2 class="w-50 justify-content-start ms-5">Login</h2>
    </div>
    <div class="w-100 d-flex align-items-start justify-content-start bg-primary-subtle px-5 pt-2 pb-5">
        <div class="w-50 h-100 bg-light d-flex flex-column justify-content-start align-items-start p-5 shadow-sm border-5">
            <form class="w-100" action='/users/create_user' method='post'>
                {% with messages = get_flashed_messages(category_filter=['user_registration']) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="text-bg-danger"><strong> {{message}} </strong></p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <label class="form-label" for='f_name'>First Name:</label>
                <input class="form-control bg-light-subtle pt-1 px-1 border-1 shadow-sm" type='text' name='f_name'><br>
                <label class="form-label" for='l_name'>Last Name:</label>
                <input class="form-control bg-light-subtle pt-1 px-1 border-1 shadow-sm" type='text' name='l_name'><br>
                <label class="form-label" for='email'>Email:</label>
                <input class="form-control bg-light-subtle pt-1 px-1 border-1 shadow-sm" type='text' name='email'><br>
                <label class="form-label" for='password'>Password:</label>
                <input class="form-control bg-light-subtle pt-1 px-1 border-1 shadow-sm" type='password' name='password'><br>
                <label class="form-label" for='confirm_pw'>Confirm Password:</label>
                <input class="form-control bg-light-subtle pt-1 px-1 border-1 shadow-sm" type='password' name='confirm_pw'><br>
                <input class="btn btn-dark mt-2" type='submit' value='REGISTER NEW ACCOUNT'>
            </form>
        </div>
        <div class="w-50 h-100 bg-light d-flex flex-column justify-content-start ms-5 p-5 shadow-sm border-5">
            {% with messages = get_flashed_messages(category_filter=['user_login']) %}
                {% if messages %}
                    {% for message in messages %}
                    <p class="text-bg-danger"><strong> {{message}} </strong></p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form class="w-100" action='/users/user_login' method='post'>
                <label class="form-label" for='email'>Email:</label>
                <input class="form-control bg-light-subtle pt-1 px-1 border-1 shadow-sm" type='text' name='email'><br>
                <label class="form-label" for='password'>Password:</label>
                <input class="form-control bg-light-subtle pt-1 px-1 border-1 shadow-sm" type='password' name='password'><br>
                <input class="btn btn-dark mt-2" type='submit' value='LOGIN'>
            </form>
        </div><br>
    </div>

    <!-- MAKE SURE YOU DELETE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
        <!-- MAKE SURE YOU DELETE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
            <!-- MAKE SURE YOU DELETE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                <!-- MAKE SURE YOU DELETE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                    <!-- MAKE SURE YOU DELETE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
    <div class="h-100 bg-light d-flex flex-column justify-content-start m-5 p-5 shadow-sm border-5">
        <table class="table table-striped">
            <thead>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>EMAIL</th>
                <th>CREATED_AT</th>
            </thead>
            <tbody>
                {% for user in all_users %}
                <tr>
                    <td>{{user.f_name}}</td>
                    <td>{{user.l_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.created_at}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>